* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

header {
  padding-top: 100px;
  background: #1D539E;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header h1 {
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

header p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  width: 553px;
}

main {
  background: #F9FBFC;
  height: 450px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

#free, #professional {
  margin-top: -140px;
  padding: 30px 30px 0;

  background: white;
  box-shadow: 0 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px;

  width: 355px;
  height: 470px;
}

#basic {
  margin-top: -150px;

  background: white;
  box-shadow: 0 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px;

  width: 355px;
  height: 490px;
}

#background-tag {
  padding: 0 30px;

  background: #FFCC29;
  box-shadow: 0 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

#background-tag h2{
  color: #1D539E;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

#popular-tag {
  padding: 8px 24px;
  background: #1D539E;
  border-radius: 40px;
}

#popular-tag h3 {
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

#content {
  padding: 10px 30px 0;
  width: 100%;
  height: 414px;
}

#basic-price *:nth-child(1) {
  color: #1E2338;
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
}

#basic-price *:nth-child(2) {
  color: #1E2338;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

#basic-price *:nth-child(3) {
  color: #828799;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

#content p {
  margin-top: 10px;
  color: #828799;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

#content > span {
  margin: 20px 0;
  background: #EEEEEE;
  display: block;
  width: 100%;
  height: 1px;
}

#content ul {
  display: flex;
  flex-direction: column;
  gap: 17px;

  list-style: none;
}

#content ul li {
  display: flex;
  align-items: center;
  gap: 15px;

  color: #828799;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

#content button {
  margin-top: 69px;
  padding: 12px 24px;

  background: transparent;
  border: 1px solid #1D539E;
  border-radius: 10px;

  width: 296px;
  height: 51px;

  color: #1D539E;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;

  cursor: pointer;
  transition: background 0.3s;
}

#content button:hover {
  background: #1D539E;
  color: white;
}

#free h2, #professional h2 {
  color: #1E2338;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.price {
  margin-top: 20px;
}

.price *:nth-child(1) {
  color: #1E2338;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.price *:nth-child(2) {
  color: #1E2338;
  font-weight: 700;
  font-size: 18px;
  line-height: 49px;
}

.price *:nth-child(3) {
  color: #828799;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

#free p, #professional p {
  margin-top: 10px;
  color: #828799;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

#free > span, #professional > span {
  margin: 20px 0;
  background: #EEEEEE;
  display: block;
  width: 100%;
  height: 1px;
}

#free ul, #professional ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

  list-style: none;
}

#free ul li, #professional ul li {
  display: flex;
  align-items: center;
  gap: 15px;

  color: #828799;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.sign {
  padding: 12px 24px;

  background: transparent;
  border: 1px solid #1D539E;
  border-radius: 10px;

  width: 296px;
  height: 49px;

  color: #1D539E;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  cursor: pointer;
  transition: background 0.3s;
}

.sign:hover {
  background: #1D539E;
  color: white;
}

#free .sign {
  margin-top: 120px;
}

#professional .sign {
  margin-top: 43px;
}