* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
}

header {
  background: #1D539E;
  padding-top: 100px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: white;
}

header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  width: 553px;
  text-align: center;
}

main {
  background: #E5E5E5;
  height: 450px;
}